---
# Video screensaver - simple idle detector, no xscreensaver needed

- name: Install video player
  apt:
    name:
      - vlc
    state: present

- name: Add pi user to input group for input monitoring
  user:
    name: "{{ pi_user }}"
    groups: input
    append: yes

- name: Create screensaver watcher script
  template:
    src: screensaver-watcher.sh.j2
    dest: "{{ pi_home }}/screensaver-watcher.sh"
    owner: "{{ pi_user }}"
    group: "{{ pi_user }}"
    mode: "0755"

- name: Create systemd screensaver service
  template:
    src: screensaver.service.j2
    dest: /etc/systemd/system/screensaver-watcher.service
    mode: "0644"

- name: Enable and start screensaver watcher service
  systemd:
    name: screensaver-watcher
    enabled: yes
    state: started
    daemon_reload: yes
  ignore_errors: yes
