# XScreenSaver configuration for Pi-CNC
# Uses blank mode - video playback handled by watcher script

timeout: 0:{{ screensaver_timeout_minutes }}:{{ '%02d' | format(screensaver_timeout_seconds | default(0) | int) }}
cycle: 0:10:00
lock: False
lockTimeout: 0:00:00
passwdTimeout: 0:00:30
dpmsEnabled: False
dpmsQuickOff: False
dpmsStandby: 2:00:00
dpmsSuspend: 2:00:00
dpmsOff: 4:00:00
grabDesktopImages: False
grabVideoFrames: False
chooseRandomImages: False
imageDirectory:
mode: blank
selected: -1
textMode: url
textLiteral:
textFile:
textProgram: fortune
textURL: https://en.wikipedia.org/w/index.php?title=Special:NewPages&feed=rss

fade: False
unfade: False
fadeSeconds: 0:00:00
fadeTicks: 20

pointerPollTime: 0:00:05
pointerHysteresis: 10
windowCreationTimeout: 0:00:30
initialDelay: 0:00:00
GetViewPortIsFullOfLies: False
procInterrupts: True
overlayStderr: True
authWarningSlack: 20